microservices-parent/product-service/target/classes/application.properties
./signup_login/node_modules
node_modules/
__pycache__
microservices-parent/payment-microservice/env
microservices-parent/Complex-Orders-Microservice/complex
microservices-parent/analytics-complex-microservice/env
microservices-parent/feedback-microservice/env
microservices-parent/microservices-parent/mysql_data
microservices-parent/microservices-parent/mysql_data/\#ib_16384_0.dblwr
microservices-parent/microservices-parent/mysql_data/\#innodb_redo/\#ib_redo10
microservices-parent/microservices-parent/mysql_data/\#innodb_temp/temp_1.ibt
microservices-parent/microservices-parent/mysql_data/\#innodb_temp/temp_10.ibt
microservices-parent/microservices-parent/mysql_data/\#innodb_temp/temp_2.ibt
microservices-parent/microservices-parent/mysql_data/\#innodb_temp/temp_3.ibt
microservices-parent/microservices-parent/mysql_data/\#innodb_temp/temp_4.ibt
microservices-parent/microservices-parent/mysql_data/\#innodb_temp/temp_5.ibt
microservices-parent/microservices-parent/mysql_data/\#innodb_temp/temp_6.ibt
microservices-parent/microservices-parent/mysql_data/\#innodb_temp/temp_7.ibt
microservices-parent/microservices-parent/mysql_data/\#innodb_temp/temp_8.ibt
microservices-parent/microservices-parent/mysql_data/\#innodb_temp/temp_9.ibt
microservices-parent/microservices-parent/mysql_data/auto.cnf
microservices-parent/microservices-parent/mysql_data/binlog.000071
microservices-parent/microservices-parent/mysql_data/binlog.index
microservices-parent/microservices-parent/mysql_data/ib_buffer_pool
microservices-parent/microservices-parent/mysql_data/ibdata1
microservices-parent/microservices-parent/mysql_data/ibtmp1
microservices-parent/microservices-parent/mysql_data/mysql.ibd
microservices-parent/microservices-parent/mysql_data/mysql.sock
microservices-parent/microservices-parent/mysql_data/undo_001
microservices-parent/microservices-parent/mysql_data/undo_002
