<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="checkout.css">
    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' 
        rel='stylesheet' integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' 
        crossorigin='anonymous'>
    
</head>
<body>
  <div id="app">
    <div class='container'>
        <div class='window'>
          <div class='order-info'>
            <div class='order-info-content'>
              <h2>Order Summary </h2>
              <div class="container-fluid p-0" v-for="(c,idx) in addedToCart">
                <div class='line'></div>
              <table class='order-table mx-0'>
                <tbody>
                    <tr v-if="qty[c]=1">
                      <td><img :src='pics[c.name]' class='full-width'></img>
                      </td>
                      <td class="p-0">
                          <div class="row">
                            <div class="col col-7 p-0">{{c}}</div>
                            <div class="col col-2 p-0 justify-content-center">
                                <div class="text-center">Qty</div>
                                <input type="number" style="width: 100%; height: 30px;" v-model="qty[c]">
                                {{qty[c]}}
                            </div>
                            <div class='price col col-2 p-0'  v-if="qty[c]=1"> ${{c.price*qty[c]}}</div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </div>
                </tbody>
              </table>
              </div>
              <div class='line'></div>
              <div class='total'>
                <span style='float:left;'>
                  TOTAL
                </span>
                <span style='float:right; text-align:right;'>
                  $435.55
                </span>
              </div>
      </div>
      </div>
              <div class='credit-info'>
                <div class='credit-info-content'>
                  <table class='half-input-table'>
                    <tr><td>Please select your card: </td><td><div class='dropdown' id='card-dropdown'><div class='dropdown-btn' id='current-card'>Visa</div>
                      <div class='dropdown-select'>
                      <ul>
                        <li>Master Card</li>
                        <li>American Express</li>
                        </ul></div>
                      </div>
                     </td></tr>
                  </table>
                  <img src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png' height='80' class='credit-card-image' id='credit-card-image'></img>
                  Card Number
                  <input class='input-field'></input>
                  Card Holder
                  <input class='input-field'></input>
                  <table class='half-input-table'>
                    <tr>
                      <td> Expires
                        <input class='input-field'></input>
                      </td>
                      <td>CVC
                        <input class='input-field'></input>
                      </td>
                    </tr>
                  </table>
                  <button class='pay-btn'>Checkout</button>
      
                </div>
      
              </div>
            </div>
          </div>
  </div>
   
<!-- Vue 3 -->
<script src='https://cdn.jsdelivr.net/npm/vue@next'></script>
<!-- Axios -->
<script src='https://unpkg.com/axios/dist/axios.js'></script>
<script src="menu.js"></script>
<script src="checkout.js"></script>
</body>
</html>